<div class="new-question-container">
  <h1>Create a new question</h1>
  <form action="post" {{action "submitForm" on="submit"}}>
    <label for="text"> Question Text
      {{textarea type="text" name="question-text" value=text placeholder="Add question text here"}}
      {{!-- <textarea name="question-text" id="" cols="100" rows="10" placeholder="Add question text here"/> --}}
    </label>
    
    <label for="answerA">
      Answer A
      {{input type="text" value=answerA placeholder="enter answer choice"}}
    </label>
    <label for="answerB">
      Answer B
      {{input type="text" value=answerB placeholder="enter answer choice"}}
    </label>
    <label for="answerC">
      Answer C
    {{input type="text" value=answerC placeholder="enter answer choice"}}
    </label>
   
    <label for="answerD">
      Answer D
    {{input type="text" value=answerD placeholder="enter answer choice"}}
    </label>
    <label for="correctAnswer" class="correct-answer">
      Choose correct answer: A,B,C,D
      {{input type="text" value=correctAnswer placeholder="A" maxlength="1" }}
    </label>
    <button type="submit" >Save Question</button>
  </form>
</div>