<!-- Error  Modal -->
{{#if showErrorModal}}
<div class=" myModal modal-show " {{action "closeModal" "errorModal"}} id="errorModal">
  <div class="dialog">
    <div class="content">
      <div class="header text-center">
        <h1>Correct Answer Cannot Be: <span>{{correctAnswer}}</span></h1>
      </div>
      <div class="body text-center">
        <h2>Please choose a letter below</h2>
        <h2>A B C D</h2>

      </div>
      <div class="footer">
        <button class="btn btn-success" {{action "closeModal" "errorModal"}}>Ok</button>
        
      </div>
    </div>
  </div>
</div>
{{/if}}
<div class="new-question-container">
  <h1 class="text-center mt-3">Create a new question</h1>
  <form action="post" {{action "submitForm" on="submit"}}>
    <label for="text"> Question Text
      {{textarea type="text" name="question-text" value=text placeholder="Add question text here" required=true}}
     
    </label>
    
    <label for="answerA">
      Answer A
      {{input type="text" value=answerA placeholder="enter answer choice" required=true}}
    </label>
    <label for="answerB">
      Answer B
      {{input type="text" value=answerB placeholder="enter answer choice" required=true}}
    </label>
    <label for="answerC">
      Answer C
    {{input type="text" value=answerC placeholder="enter answer choice" required=true}}
    </label>
   
    <label for="answerD">
      Answer D
    {{input type="text" value=answerD placeholder="enter answer choice" required=true}}
    </label>
    <label for="correctAnswer" class="correct-answer">
      Choose correct answer: A,B,C,D
      {{input type="text" value=correctAnswer placeholder="A" maxlength="1" required=true id="correctAnswer-Input" }}
    </label>
    <button type="submit" >Save Question</button>
  </form>
</div>