{{outlet}}
<small id="quiz-question-count">Question # {{currentNum }} of {{totalQuestions}}</small>
<h2 id="quiz-total-correct">Total Correct: <span >{{totalCorrect}}</span></h2>
<h2 id="quiz-total-wrong" >Total Wrong: <span>{{totalWrong}}</span></h2>


<!-- Success Modal -->
{{#if showSuccessModal}}
<div class=" myModal modal-show " {{action "closeModal" "successModal"}} id="successModal">
  <div class="dialog">
    <div class="content">
      <div class="header text-center">
        <h1>Correct!</h1>
      </div>
      <div class="body">
        <p>You did great here's a cookie!</p>
      </div>
      <div class="footer">
        <button class="btn btn-primary" {{action "nextQuestion" "successModal"}}>Next</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
<!-- Fail Modal -->
{{#if showFailModal}}
<div class=" myModal modal-show " {{action "closeModal" "failModal"}} id="failModal">
  <div class="dialog">
    <div class="content">
      <div class="header text-center">
        <h1>Too Bad!</h1>
      </div>
      <div class="body ">
        <h2>The correct answer is</h2>
        <p>{{correctAnswer}}</p>
      </div>
      <div class="footer">
        <button class="btn btn-primary" {{action "nextQuestion" "failModal"}}>Next</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
<!-- Complete Modal -->
{{#if showCompleteModal}}
<div class=" myModal modal-show " {{action "closeModal" "completeModal"}} id="completeModal">
  <div class="dialog">
    <div class="content">
      <div class="header text-center">
        <h1>You Got {{totalCorrect}} Correct</h1>
      </div>
      <div class="body text-center">
        <h3>and {{totalWrong}} wrong</h3>
        
      </div>
      <div class="footer">
        <button class="btn btn-primary" {{action "resetQuiz" "completeModal"}}>Retake Quiz</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
<!-- No Selection Modal -->
{{#if showNoSelectionModal}}
<div class=" myModal modal-show " {{action "closeModal" "noSelectionModal"}} id="noSelectionModal">
  <div class="dialog">
    <div class="content">
      <div class="header text-center">
        <h1>You didn't select an answer!</h1>
      </div>
      <div class="body text-center">
        <h2></h2>
        
      </div>
      <div class="footer">
        <button class="btn btn-primary" {{action "closeModal" "noSelectionModal"}}>Ok</button>
      </div>
    </div>
  </div>
</div>
{{/if}}
<!-- Question -->
<div class="card-container container">
  <div class="card">
    <div class="card-body bg-primary text-white">
      <p class="quiz-text">{{model.text}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item quiz-choice {{if selectedA "border border-info bg-light font-weight-bold"}}" id="A"
        {{action "selectAnswer" model.id }}>A: {{model.answerA}}</li>
      <li class="list-group-item quiz-choice {{if selectedB "border border-info bg-light font-weight-bold"}}" id="B"
        {{action "selectAnswer" model.id }}>B: {{model.answerB}}</li>
      <li class="list-group-item quiz-choice {{if selectedC "border border-info bg-light font-weight-bold"}}" id="C"
        {{action "selectAnswer" model.id }}>C: {{model.answerC}}</li>
      <li class="list-group-item quiz-choice {{if selectedD "border border-info bg-light font-weight-bold"}}" id="D"
        {{action "selectAnswer" model.id }}>D: {{model.answerD}}</li>
    </ul>

  </div>
  <button class="btn btn-primary btn-lg mt-3" {{action "submitAnswer" model.correctAnswer model}}>submit</button>


</div>


